extends ./layout.jade

block content
  .grid.padding
    .u-sm-8
      .box.padding
        .data-table#data-table-1(style="max-width:1020px;")
          .data-table-header
            .data-table-header-box
              table.table.table-bordered.table-hover
                thead
                  tr
                    th(style="width:50px;")
                      input(type="checkbox")
                    th(style="width:100px;") #
                    th(style="width:200px;") Name
                    th(style="width:200px;") Email
                    th(style="width:100px;") Age
                    th(style="width:100px") Address
                    th(style="width:200px;") Last-login-time
                    th(style="width:120px;") Operation
          .data-table-body(style="height:500px;")
            table.table.table-bordered.table-hover
              tbody
                each item in list
                  tr
                    td(style="width:50px;")
                      input(type="checkbox")
                    td(style="width:100px;")= item.id
                    td(style="width:200px;")= item.name
                    td(style="width:200px;")= item.email
                    td(style="width:100px;")= item.age
                    td(style="width:100px")= item.address
                    td(style="width:200px;")= item.lastLoginTime
                    td(style="width:120px;")
                      button(type="button").btn.btn-danger.btn-sm.btn-block <i class="fa fa-trash"></i> Delete

    .u-sm-8
      .box.padding
        .data-table#data-table-2(style="max-width:1020px;")
          .data-table-header
            .data-table-header-box
              table.table.table-bordered.table-hover
                thead
                  tr
                    th(style="width:50px;")
                      input(type="checkbox")
                    th(style="width:100px;") #
                    th(style="width:200px;") Name
                    th(style="width:200px;") Email
                    th(style="width:100px;") Age
                    th(style="width:100px;")
                      div(style="overflow:hidden;") Address
                    th(style="width:100px;") Last-login-time
                    th(style="width:150px;") Operation
          .data-table-body(style="height:500px;")
            table.table.table-bordered.table-hover(style="width:1000px;")
              tbody
                each item in list
                  tr
                    td(style="width:50px;")
                      input(type="checkbox")
                    td(style="width:100px;")= item.id
                    td(style="width:200px;")= item.name
                    td(style="width:200px;")= item.email
                    td(style="width:100px;")= item.age
                    td(style="width:100px;")= item.address
                    td(style="width:100px;")= item.lastLoginTime
                    td(style="width:150px;")
                      button(type="button").btn.btn-danger.btn-sm.btn-block <i class="fa fa-trash"></i> Delete

append script
  script.
    $(function() {
      $('#data-table-1').dataTable();
      $('#data-table-2').dataTable();
    });
