extends ./layout.jade

block content
  .grid.margin-top
    .u-sm-16
      .box.padding
        .margin-bottom.cf
          .btn-group.btn-group-secondary.fr
            button.btn.btn-sm(type="button") 编辑
            button.btn.btn-sm(type="button") 导出
            button.btn.btn-sm(type="button") 删除
        .data-table#data-table
          .data-table-header
            .data-table-row
              .data-table-cell
                input(type="checkbox")
              .data-table-control
              .data-table-cell #
              .data-table-control
              .data-table-cell Name
              .data-table-control
              .data-table-cell Email
              .data-table-control
              .data-table-cell Age
              .data-table-control
              .data-table-cell Address
              .data-table-control
              .data-table-cell Last-login-time
              .data-table-control
              .data-table-cell Operation
          .data-table-body(style="height:300px;overflow:hidden;")
            each item in list
              .data-table-row
                .data-table-cell
                  input(type="checkbox")
                .data-table-control
                .data-table-cell= item.id
                .data-table-control
                .data-table-cell= item.name
                .data-table-control
                .data-table-cell= item.email
                .data-table-control
                .data-table-cell= item.age
                .data-table-control
                .data-table-cell= item.address
                .data-table-control
                .data-table-cell= item.lastLoginTime
                .data-table-control
                .data-table-cell
                  button(type="button").btn.btn-danger.btn-sm <i class="fa fa-trash"></i> Delete
          .data-table-footer.text-bold
            .data-table-row
              .data-table-cell
                input(type="checkbox")
              .data-table-control
              .data-table-cell #
              .data-table-control
              .data-table-cell Name
              .data-table-control
              .data-table-cell Email
              .data-table-control
              .data-table-cell Age
              .data-table-control
              .data-table-cell Address
              .data-table-control
              .data-table-cell Last-login-time
              .data-table-control
              .data-table-cell Operation

append script
  script.
    $(function() {
      'use strict';
      var windowHeight = window.innerHeight;
      var tableBodyHeight = windowHeight-56-24*2-46*2-24 - 10;
      if (tableBodyHeight < 300) {
        tableBodyHeight = 300;
      }
      var $scrollbar = $('#data-table .data-table-body').css({
        height: `${tableBodyHeight}px`
      }).scrollbar();
      var $gridTable = $('#data-table').datatable({
        gridWidth: [5, 10, 20, 20, 8, 10, 15, 12]
      }).on('gridchange.dashboard', function() {
        var scrollbar = $scrollbar.data('scrollbar');
        if (scrollbar != null) {
          scrollbar.repaint();
        }
      });
      $(document).on('aside-change', function() {
        var gridtable = $gridTable.data('datatable');
        gridtable.repaint();
        var scrollbar = $scrollbar.data('scrollbar');
        if (scrollbar != null) {
          scrollbar.repaint();
        }
      });
    });
