extends ./layout.jade

block content
  .grid.padding
    .u-sm-8
      .box.padding
        h2 stick header
        .table-stick
          .table-stick-header
            .table-stick-table.table-bordered
              .table-stick-row
                .table-stick-cell(style="width:5%;") #
                .table-stick-cell(style="width:15%;") Name
                .table-stick-cell(style="width:15%;") Email
                .table-stick-cell(style="width:5%;") Age
                .table-stick-cell(style="width:20%;") Address
                .table-stick-cell(style="width:20%;") Last-login-time
                .table-stick-cell(style="width:20%;") Operation
          .table-stick-body(style="height:300px;")
            table.table.table-bordered
              tbody
                each item in list
                  tr
                    td(style="width:5%;")= item.id
                    td(style="width:15%;")= item.name
                    td(style="width:15%;")= item.email
                    td(style="width:5%;")= item.age
                    td(style="width:20%;")= item.address
                    td(style="width:20%;")= item.lastLoginTime
                    td(style="width:20%;")
                      button(type="button").btn.btn-danger <i class="fa fa-trash"></i> Delete

    .u-sm-8
      .box.padding
        h2 default table
        table.table
          thead
            tr
              th #
              th Name
              th Email
              th Age
              th Address
              th Last-login-time
              th Operation
          tbody
            each item in list
              tr
                td= item.id
                td= item.name
                td= item.email
                td= item.age
                td= item.address
                td= item.lastLoginTime
                td
                  button(type="button").btn.btn-danger <i class="fa fa-trash"></i> Delete

    .u-sm-8
      .box.padding
        h2 bordered table
        table.table.table-bordered
          thead
            tr
              th #
              th Name
              th Email
              th Age
              th Address
              th Last-login-time
              th Operation
          tbody
            each item in list
              tr
                td= item.id
                td= item.name
                td= item.email
                td= item.age
                td= item.address
                td= item.lastLoginTime
                td
                  button(type="button").btn.btn-danger <i class="fa fa-trash"></i> Delete

    .u-sm-8
      .box.padding
        h2 striped table
        table.table.table-striped
          thead
            tr
              th #
              th Name
              th Email
              th Age
              th Address
              th Last-login-time
              th Operation
          tbody
            each item in list
              tr
                td= item.id
                td= item.name
                td= item.email
                td= item.age
                td= item.address
                td= item.lastLoginTime
                td
                  button(type="button").btn.btn-danger <i class="fa fa-trash"></i> Delete

    .u-sm-8
      .box.padding
        h2 hover bordered table
        table.table.table-hover.table-bordered
          thead
            tr
              th #
              th Name
              th Email
              th Age
              th Address
              th Last-login-time
              th Operation
          tbody
            each item in list
              tr
                td= item.id
                td= item.name
                td= item.email
                td= item.age
                td= item.address
                td= item.lastLoginTime
                td
                  button(type="button").btn.btn-danger <i class="fa fa-trash"></i> Delete

    .u-sm-8
      .panel.panel-primary
        .panel-header Table in panel (random data created by mock.js)
        table.table
          thead
            tr
              th #
              th Name
              th Email
              th Age
              th Address
              th Last-login-time
              th Operation
          tbody
            each item in list
              tr
                td= item.id
                td= item.name
                td= item.email
                td= item.age
                td= item.address
                td= item.lastLoginTime
                td
                  button(type="button").btn.btn-danger <i class="fa fa-trash"></i> Delete
        .panel-footer.cf
          ul.pagination.fr
            li
              a(href="#/page=3")
                i.fa.fa-chevron-left
            li
              a(href="#/page=1") 1
            li
              a(href="#/page=2") 2
            li.active
              a(href="#/page=3") 3
            li
              a(href="#/page=4") 4
            li
              a(href="#/page=5") 5
            li
              a(href="#/page=4")
                i.fa.fa-chevron-right

    .u-sm-8
      .box.padding
        h2 responsive table
        .table-responsive
          table.table.table-hover.table-bordered
            thead
              tr
                th #
                th Name
                th Email
                th Age
                th Address
                th Last-login-time
                th very long text
                th Operation
            tbody
              each item in list
                tr
                  td= item.id
                  td= item.name
                  td= item.email
                  td= item.age
                  td= item.address
                  td verylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtext
                  td= item.lastLoginTime
                  td
                    button(type="button").btn.btn-danger <i class="fa fa-trash"></i> Delete

    .u-sm-8
      .panel.panel-primary
        .panel-header Table in panel (random data created by mock.js)
        .table-responsive
          table.table
            thead
              tr
                th #
                th Name
                th Email
                th Age
                th Address
                th Last-login-time
                th very long text
                th Operation
            tbody
              each item in list
                tr
                  td= item.id
                  td= item.name
                  td= item.email
                  td= item.age
                  td= item.address
                  td verylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtextverylongtext
                  td= item.lastLoginTime
                  td
                    button(type="button").btn.btn-danger <i class="fa fa-trash"></i> Delete
        .panel-footer.cf
          ul.pagination.fr
            li
              a(href="#/page=3")
                i.fa.fa-chevron-left
            li
              a(href="#/page=1") 1
            li
              a(href="#/page=2") 2
            li.active
              a(href="#/page=3") 3
            li
              a(href="#/page=4") 4
            li
              a(href="#/page=5") 5
            li
              a(href="#/page=4")
                i.fa.fa-chevron-right
